<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>EvalMe</title>
<link th:href="@{/public/bootstrap.min.css}" rel="stylesheet">
<style>
h1 {
	text-align: center;
}
</style>
</head>
<body>
	<div th:replace="fragments/courseheader :: header"></div>
	<br>

	<div class="col-4"
		th:class="${'container justify-content-center alert alert-success'}"
		style="width: 100%; text-align: center; font-variant: small-caps;">
		<h1>Group Formation Results</h1>

	</div>

	<div class="container"
		style="text-align: center; font-variant: small-caps;">
		<p>
		<h3 th:text="${coursename}"></h3>
		<h3 th:text="${courseid}"></h3>
		</p>
	</div>

	<div>
		<table>
			<tbody>
				<div th:each="group, stats: ${survey}">

					<tr>
						<h2 th:text="${group.groupId}" style="font-variant: small-caps"></h2>
					</tr>
					<tr>
						<h4 th:text="${group.groupName}" style="font-variant: small-caps"></h4>
					</tr>

					<th:block th:each="${member, stats1: group.groupMembers}"
						style="font-variant: small-caps">
						<tr>
							<h4 th:text="${member.firstName}"
								style="font-variant: small-caps"></h4>
							<h7 th:text="${member.lastName}" style="font-variant:small-caps"></h7>
						</tr>
						<tr>
							<h7 th:text="${member.bannerId}" style="font-variant:small-caps"></h7>
						</tr>

					</th:block>
				</div>
			</tbody>

		</table>
	</div>
</body>
</html>