<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>EvalMe</title>
<link th:href="@{/public/bootstrap.min.css}" rel="stylesheet">

<style>
h1, h3 {
	text-align: center;
}

form {
	text-align: center;
}
</style>
</head>
<body>

	<div th:replace="fragments/courseheader :: header"></div>

	<br>


	<div class="container">

		<div style="width: 800px; margin: 0 auto;">
			<h1 th:text="${coursename}"></h1>
			<hr>
			<div class="row justify-content-center">

				<div class="col-5">

					<a th:href="@{/viewQuestions/getHome}"
						sec:authorize="hasAuthority('INSTRUCTOR')" class="btn btn-primary"
						style="color: white; width: 80%;">Question Manager</a>

				</div>

				<div class="col-5">

					<a class="btn btn-primary"
						th:href="@{/questionpage/getCreateQuestionHome}"
						style="color: white; width: 80%;">Create Survey</a>

				</div>
			</div>
			<hr>
			<div class="row">
				<h2>Allocate TA:</h2>
				<br>
				<form class="form-inline" th:action="@{/allocateTA}" method="post">
					<div class="form-group mx-sm-3 mb-2">
						<input type="hidden" th:value="${courseId}" name="courseid" /> <input
							type="hidden" th:value="${coursename}" name="coursename" /> <input
							type="text" class="form-control" placeholder="Banner Id"
							name="TA" id="TA">
					</div>
					<input type="submit" value="Allocate" class="btn btn-primary mb-2" />
				</form>
				<h3 style="color: #5d7fa6;" th:text="${result}"></h3>
			</div>


			<br> <br> <br>
			<hr>
			<br>

			<div style="width: 800px; margin: 0 auto;" class="input-group">

				<div class="custom-file">
				<h2>Enroll Students:</h2> <br>
					<form style="text-align: center;" class="form-inline"
						th:action="@{/uploadstudents}" method="post"
						enctype="multipart/form-data">
						<div>
							<input type="hidden" th:value="${courseId}" name="courseid" /> <input
								type="hidden" th:value="${coursename}" name="coursename" /> <input
								type="file" name="file" id="file" accept=".csv"> <input
								type="submit" id="file" value="upload" class="btn btn-primary" />
						</div>
					</form>
				</div>
			</div>
			<br> <br>
			<h3 class="text-justify" style="color: #5d7fa6;"
				th:text="${resultEnrolling}"></h3>



		</div>
	</div>
</body>
</html>