<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login page</title>
    <link th:href="@{/public/bootstrap.min.css}" rel="stylesheet">

</head>


<body>

    <div th:replace="fragments/header :: header"></div>

    <div class="container" style="position: absolute;top:calc(100vh - 70%);right:calc(100vw - 80%);">
        <div class=" d-flex justify-content-center h-100 ">
            <div class="card ">
                <div class="card-header ">
                    <h3>Reset Password</h3>
                </div>
                <div class="card-body ">
                    <div class="alert alert-info" role="alert">
                        Reset password has been sent to the email <span th:text="${sentEmail}"></span>
                    </div>
                    <div class="alert alert-danger" role="alert" th:if="${isError}">
                        <span th:text="${reason}"></span>
                    </div>
                    <form th:action="@{/resetPassword}" th:object="${resetForm}" method="post">
                        <div class="input-group form-group ">
                            <input class="form-control" type="text" th:field="*{generatedPassword}" placeholder="Received Password">
                        </div>
                        <div class="input-group form-group ">
                            <input type="password" class="form-control" th:field="*{newPassword}" placeholder="New Password">
                        </div>
                        <div class="input-group form-group ">
                            <input class="form-control" type="password" th:field="*{confirmNewPassword}" placeholder="Confirm New Password">
                        </div>
                        <input type="hidden" th:field="*{bannerId}" />
                        <div class="form-group w-100">
                            <input type="submit" value="Reset" class="btn w-100">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- <div id="container" style="position: absolute;top:calc(100vh - 90%);right:calc(100vw - 50%);">
        <h2>Reset Password</h2>
        <form action="#" th:action="@{/resetPassword}" th:object="${resetForm}" method="post">
            <p>Received Password: <input type="text" th:field="*{generatedPassword}" /></p>
            <p>New Password: <input type="password" th:field="*{newPassword}" /></p>
            <p>Confirm New Password: <input type="password" th:field="*{confirmNewPassword}" /></p>
            <input type="hidden" th:field="*{bannerId}" />
            <p><input type="submit" value="Submit" />
        </form>
    </div> -->
</body>

</html>