<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>EvalMe</title>
<link th:href="@{/public/bootstrap.min.css}" rel="stylesheet">
<style>
h1 {
	text-align: center;
}
</style>
</head>
<body>

	<div th:replace="fragments/courseheader :: header"></div>
	<br>
	<div class="container">

		<h1>Courses as TA</h1>
		<br>
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Course Id</th>
					<th scope="col">Title</th>
					<th scope="col">Name of Instructor</th>
					<th scope="col">Details</th>
				</tr>
			</thead>
			<tbody>
				<form th:each="prod: ${coursesList}"
					th:action="@{/coursepageInstrcutor}" method="get">

					<tr>
						<td th:text="${prod.CourseId}" />
						<td th:text="${prod.CourseName}" />
						<td
							th:text="${prod.instructorName.firstName+ ' ' +prod.instructorName.lastName}" />
						<input type="hidden" th:value="${prod.courseId}" name="id" />
						<input type="hidden" th:value="${prod.CourseName}" name="name" />
						<td><input type="Submit" value="view course"
							class="btn btn-primary"></td>
					</tr>
				</form>
			</tbody>
		</table>

	</div>
</body>
</html>